.current-series{
    background-color: #1c1c1c;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    button{
        font-size: 17px;
        color: white;
        padding: 10px 50px;
        background-color: dodgerblue;
        font-weight: bold;
        text-align: center;
        margin-top: 60px;
        border: none;
    }
}

.card-section{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 180px;
    color: white;
    padding: 20px;
    height: 280px;
}

.thumb{
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
    background-size: cover;
    background-image: url(https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX);
}


