.top-footer {
    background-image: url(https://i.imgur.com/sP9oKXV.jpg);
    .container {
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 450px;
    }
}

.lists {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding-top: 20px;
    ul {
        list-style-type: none;
        font-size: 12px;
        line-height: 17px;
        padding-bottom: 15px;
        padding-right: 20px;
    }
    .dc-comics-shop,
    .dc,
    .sites {
        margin: 0;
    }
}

.footer-links {
    width: 40%;
    li,
    p {
        color: rgb(160, 159, 159);
    }
    h1 {
        color: white;
        font-size: 20px;
        padding-bottom: 15px;
    }
    a {
        color: dodgerblue;
        text-decoration: none;
    }
}

.dc-bg {
    background-image: url(https://i.imgur.com/2wWvs5F.png);
    width: 45%;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
