* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.topheader {
  background-color: dodgerblue;
  color: white;
}
.topheader .row {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 0;
}
.topheader .row .col-2 {
  width: 20%;
  margin: 0;
  font-weight: bold;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  padding: 20px 0;
}
.bottom-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  width: 800px;
  font-weight: bold;
}
.bottom-header ul a {
  text-decoration: none;
  color: black;
}
.bottom-header figure {
  width: 100px;
}
.bottom-header figure img {
  height: 75px;
}
.bottom-header input {
  padding: 5px 5px;
  border: none;
  border-bottom: 2px solid dodgerblue;
}
.bottom-header input :focus {
  outline-width: 0;
}
.bottom-header input ::-moz-placeholder {
  color: black;
  text-align: end;
  opacity: 1;
  font-weight: bold;
}
.bottom-header input :-ms-input-placeholder {
  color: black;
  text-align: end;
  opacity: 1;
  font-weight: bold;
}
.bottom-header input ::placeholder {
  color: black;
  text-align: end;
  opacity: 1;
  font-weight: bold;
}

.current-series {
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card-section {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  color: white;
  padding: 20px;
  height: 280px;
}

.thumb {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
  background-size: cover;
  background-image: url(https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX);
}

button {
  font-size: 17px;
  color: white;
  padding: 10px 50px;
  background-color: dodgerblue;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
}

.other-links {
  background-color: dodgerblue;
}
.other-links ul {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  padding: 40px 0;
}
.other-links ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  font-size: 13px;
  color: white;
  font-weight: 100;
  height: 80px;
}
.other-links ul li img {
  height: 70%;
  padding-right: 10px;
}
.other-links ul li .visa {
  width: 75px;
}

.jb-image {
  width: 100%;
  height: 400px;
}