* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.topheader {
  background-color: dodgerblue;
  color: white;
}
.topheader .row {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px 0;
}
.topheader .row .col-2 {
  width: 20%;
  margin: 0;
  font-weight: bold;
}

.bottom-header {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  padding: 20px 0;
}
.bottom-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 15px;
  width: 800px;
  font-weight: bold;
}
.bottom-header ul a {
  text-decoration: none;
  color: black;
}
.bottom-header figure {
  width: 100px;
}
.bottom-header figure img {
  height: 75px;
}

#search {
  padding: 5px 5px;
  border: none;
  border-bottom: 2px solid dodgerblue;
}

.current-series {
  background-color: #1c1c1c;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.current-series button {
  font-size: 17px;
  color: white;
  padding: 10px 50px;
  background-color: dodgerblue;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  border: none;
}

.card-section {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  width: 180px;
  color: white;
  padding: 20px;
  height: 280px;
}

.thumb {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
  background-size: cover;
  background-image: url(https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2018/09/AC1000_DLX_162-001_HD_5ba13723281ab0.37845353.jpg?itok=ZsI-C5eX);
}

.other-links {
  background-color: dodgerblue;
}
.other-links ul {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  align-items: center;
  padding: 40px 0;
}
.other-links ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  font-size: 13px;
  color: white;
  font-weight: 100;
  height: 80px;
}
.other-links ul li img {
  height: 70%;
  padding-right: 10px;
}
.other-links ul li .visa {
  width: 75px;
}

.top-footer {
  background-image: url(https://i.imgur.com/sP9oKXV.jpg);
}

.lists {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding-top: 20px;
}
.lists ul {
  list-style-type: none;
  font-size: 12px;
  line-height: 17px;
  padding-bottom: 15px;
  padding-right: 20px;
}
.lists .dc-comics-shop,
.lists .dc,
.lists .sites {
  margin: 0;
}

.footer-links {
  width: 40%;
}
.footer-links li, .footer-links p {
  color: #a09f9f;
}
.footer-links h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
}
.footer-links a {
  color: dodgerblue;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 450px;
}

.dc-bg {
  background-image: url(https://i.imgur.com/2wWvs5F.png);
  width: 45%;
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom-footer {
  background-color: #303030;
  height: 100px;
}
.bottom-footer .dc-family {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.bottom-footer .dc-family .socials {
  display: flex;
  flex-direction: row;
}
.bottom-footer .dc-family .socials h4 {
  font-size: 17px;
  color: dodgerblue;
  padding: 8px 12px;
}
.bottom-footer .dc-family .socials i {
  font-size: 20px;
  padding: 8px 12px;
  margin: 0 10px;
  color: #303030;
  background-color: grey;
  border-radius: 50%;
}
.bottom-footer .dc-family button {
  background-color: #303030;
  color: white;
  border: 2px solid dodgerblue;
  font-size: 17px;
  font-weight: bold;
  padding: 15px 25px;
}

.jb-image {
  width: 100%;
  height: 400px;
}

.dc-family {
  background-image: url(https://images2.alphacoders.com/440/thumb-1920-440969.jpg);
  background-size: cover;
  background-position: top;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dc-family h1 {
  font-size: 50px;
  background-color: dodgerblue;
  color: white;
  border: 3px solid white;
  max-width: 1200px;
  text-align: center;
  padding: 20px;
  margin-top: 300px;
}

.thumb-part {
  height: 100px;
  width: 100%;
  background-color: dodgerblue;
}
.thumb-part .comic-thumb {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 400px;
}
.thumb-part .comic-thumb p {
  background-color: dodgerblue;
  font-size: 10px;
  color: white;
}
.thumb-part .comic-thumb .type {
  width: 50%;
}
.thumb-part .comic-thumb .view {
  width: 100%;
  text-align: center;
}